footer#footer {
    background-color: transparent
}

div#footer-wrap, a#beian {
  color: var(--gukaifeng-footer-color) !important;
  transition: all 1s;
}


// pagination
.layout
  & > .recent-posts
    .pagination
      & > .space
        color: var(--gukaifeng-footer-color)