#recent-posts
  & > .recent-post-item
    & >.recent-post-info
      & > .content
        -webkit-line-clamp: 3

div#recent-posts,
div#post,
div#aside-content,
div.author-content-item,
div.hello-about
  opacity .95

[data-theme='dark']
  div#recent-posts,
  div#post,
  div#aside-content,
  div.author-content-item,
  div.hello-about
    opacity .95