maxWidth1920AndMinWidth1301()
  @media screen and (max-width: 1920px) and (min-width: 1301px)
    {block}

minWidth1921()
  @media screen and (min-width: 1921px)
    {block}

.layout
  +maxWidth1920AndMinWidth1301()
    width: 65%
    min-width: 1200px
  +minWidth1921()
    width: 60%
    max-width: 1500px


div.recent-post-item,
div.card-widget,
div#post,
div.search-dialog {
    border-radius: var(--gukaifeng-card-border-radius) !important
}

// a.blog-slider__img {
//   display: none
// }

// .cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space), {
//   box-shadow: none
//   &:hover {
//     box-shadow: none
//   }
// }

div.swal2-popup {
  border-radius: var(--gukaifeng-card-border-radius);
}

#rightside
  opacity 0.8
  transform translateX(-58px)