#welcome-info 
	overflow hidden
	border-radius 14px
	--icat-welcome-color #49B1F5
	width 100%
	word-wrap break-word
    overflow-wrap break-word
	.welcome-time 
		width 100%
		margin 12px 0 0
		display inline-flex
	.welcome-message 
		width 100%
		margin-bottom 8px
		display inline-flex
	.welcome-region
		display inline-flex
		align-items center
		padding 6px 10px
		margin 6px 0


span.welcome-title
	color #e1688e

span.welcome-message
	color #FFA500

[data-theme='dark']
	span.welcome-message
		color gold

span.welcome-ip
	color #49B1F5
	font-size 0.9em
