/* 声名部分变量 */
:root {
  --gukaifeng-card-border-radius: 18px;
  --gukaifeng-search-card-border-radius: 10px;
  --gukaifeng-site-title-color: #1b3f34;
  --gukaifeng-site-subtitle-color: #225a50;
  --gukaifeng-post-title-color: #1b3f34;
  --gukaifeng-post-meta-color: #225a50;
  --gukaifeng-nav-a-color: #1b3f34;
  --gukaifeng-nav-a-hover-color: #107565;
}

/* 浅色模式颜色 */
[data-theme=light] {
  --gukaifeng-footer-color: #ccc;
}

/* 深色模式颜色 */
[data-theme=dark] {
  --gukaifeng-footer-color: #aaa;
}